<div class="topbar">
  <button type="button" class="back-btn" (click)="cancel.emit()">
    <mat-icon>arrow_back</mat-icon> Back
  </button>
  <div class="page-title">{{ pageTitle }}</div>
</div>

<form [formGroup]="classForm" class="class-form">
  <div class="card">
    <div class="card-title">
      <mat-icon>{{ formCard.icon }}</mat-icon>
      {{ formCard.title }}
    </div>
    <div [class]="formCard.grid">
      @for (field of formCard.fields; track field) {
        <app-dynamic-field
          [config]="configs[field]"
          [group]="classForm"
          [full]="field === 'description'"
        />
      }
    </div>
  </div>

  <div class="footer-actions">
    <div></div>
    @if (mode !== 'view') {
      <button type="button" class="btn-next" (click)="saveClass()" [disabled]="isSaving">
        <mat-icon>{{ isSaving ? 'hourglass_empty' : 'check_circle' }}</mat-icon>
        {{ isSaving ? 'Saving...' : (mode === 'edit' ? 'Update class' : 'Add class') }}
      </button>
    }
  </div>


</form>
