@switch (config.type) {
  @case ('input') {
    <div class="custom-field" [formGroup]="group">
      <label [attr.for]="controlId">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width compact-field">
        <input
          matInput
          [id]="controlId"
          [type]="config.inputType || 'text'"
          [placeholder]="getPlaceholder()"
          [formControlName]="config.controlName"
          [disabled]="config.disabled ?? false"
          [appDigitsOnly]="config.inputType === 'tel'"
          [maxDigits]="10"
          [attr.maxlength]="config.inputType === 'tel' ? 10 : null"
        />
        <mat-error>{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
  }
  @case ('datepicker') {
    <div class="custom-field" [formGroup]="group">
      <label [attr.for]="controlId">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width compact-field">
        <input
          matInput
          [id]="controlId"
          [matDatepicker]="picker"
          [formControlName]="config.controlName"
          [placeholder]="getPlaceholder()"
          [disabled]="config.disabled ?? false"
        />
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
        <mat-error>{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
  }
  @case ('select') {
    <div class="custom-field" [formGroup]="group">
      <label [attr.for]="controlId">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width compact-field">
        <mat-select
          [id]="controlId"
          [formControlName]="config.controlName"
          [placeholder]="getPlaceholder()"
          [disabled]="config.disabled ?? false"
        >
          @for (option of config.options ?? []; track optionTrack($index, option)) {
            <mat-option [value]="option.value">{{ option.label }}</mat-option>
          }
        </mat-select>
        <mat-error>{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
  }
  @case ('textarea') {
    <div class="custom-field" [formGroup]="group">
      <label [attr.for]="controlId">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width compact-field">
        <textarea
          matInput
          [id]="controlId"
          [placeholder]="getPlaceholder()"
          [formControlName]="config.controlName"
          [rows]="3"
          [disabled]="config.disabled ?? false"
        ></textarea>
        <mat-error>{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
  }
  @case ('checkbox') {
    <div class="custom-field checkbox-field" [formGroup]="group">
      <mat-checkbox [formControlName]="config.controlName" [id]="controlId" [disabled]="config.disabled ?? false">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </mat-checkbox>
      @if (group.get(config.controlName)?.invalid && group.get(config.controlName)?.touched) {
        <span class="inline-error">{{ getError() }}</span>
      }
    </div>
  }
  @case ('multi-checkbox') {
    <div class="custom-field multi-checkbox-field" [formGroup]="group">
      <label>
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <div class="checkbox-group">
        @for (option of config.options ?? []; track optionTrack($index, option)) {
          <div class="checkbox-item">
            <mat-checkbox
              [checked]="(group.get(config.controlName)?.value ?? []).includes(option.value)"
              (change)="onMultiCheckboxChange(config.controlName, option.value, $event.checked)"
              [disabled]="config.disabled ?? false"
            >
              {{ option.label }}
            </mat-checkbox>
          </div>
        }
      </div>
      @if (group.get(config.controlName)?.invalid && group.get(config.controlName)?.touched) {
        <span class="inline-error">{{ getError() }}</span>
      }
    </div>
  }
  @case ('number') {
    <div class="custom-field" [formGroup]="group">
      <label [attr.for]="controlId">
        {{ config.label }}
        @if (config.validations?.length) {
          <span class="req">*</span>
        }
      </label>
      <mat-form-field appearance="outline" subscriptSizing="dynamic" class="full-width compact-field">
        <input
          matInput
          [id]="controlId"
          type="number"
          [placeholder]="getPlaceholder()"
          [formControlName]="config.controlName"
          [disabled]="config.disabled ?? false"
        />
        <mat-error>{{ getError() }}</mat-error>
      </mat-form-field>
    </div>
  }
}
