<section class="class-management-page">
  @if (!showDetail) {
    <app-smart-data-table
      [config]="classConfig"
      [data]="groups"
      [serverSide]="true"
      [totalRecords]="totalGroups"
      [rowClassFn]="classRowClass"
      [initialFilterValue]="currentFilter"
      (pageChange)="onPageChange($event)"
      (filterChanged)="onFilterChanged($event)"
      (actionClicked)="onActionClicked($event)"
      (exportClicked)="onExportClicked()"
    />
  } @else if (selectedClassGroupId) {
    <app-class-group-detail
      [classGroupId]="selectedClassGroupId"
      [mode]="detailMode"
      [initialTab]="detailInitialTab"
      (cancel)="closeDetail()"
    />
  }
</section>
