<section class="periods-page">
  @if (!showAddForm) {
    <app-smart-data-table
      [config]="tableConfig"
      [data]="templates"
      [serverSide]="true"
      [totalRecords]="totalTemplates"
      [rowClassFn]="rowClass"
      [initialFilterValue]="currentFilter"
      (pageChange)="onPageChange($event)"
      (filterChanged)="onFilterChanged($event)"
      (actionClicked)="onActionClicked($event)"
      (addButtonClicked)="onAddButtonClicked()"
    />
  } @else {
    <app-add-period-template
      [mode]="formMode"
      [templateId]="selectedTemplateId"
      (cancel)="closeAddForm()"
      (saved)="onSaved()"
    />
  }
</section>
