<label
  class="upload-box"
  [class.document]="mode === 'document'"
  [class.disabled]="disabled"
  [class.has-file]="hasFile"
>
  <input type="file" [accept]="accept" [disabled]="disabled" (change)="onFileChange($event)" />

  @if (previewUrl && mode === 'avatar') {
    <img [src]="previewUrl" alt="Selected file preview" />
  } @else if (hasFile) {
    <mat-icon class="success-icon">check_circle</mat-icon>
  } @else {
    <mat-icon class="upload-icon">{{ mode === 'document' ? 'upload_file' : 'cloud_upload' }}</mat-icon>
  }

  <span class="upload-text">{{ hasFile ? fileName : uploadPlaceholder }}</span>
</label>
