<section class="employees-page">
  @if (!showAddForm) {
    <app-smart-data-table
      [config]="tableConfig"
      [data]="employees"
      [serverSide]="true"
      [totalRecords]="totalEmployees"
      [rowClassFn]="employeeRowClass"
      [initialFilterValue]="currentFilter.toString()"
      (pageChange)="onPageChange($event)"
      (filterChanged)="onFilterChanged($event)"
      (actionClicked)="onActionClicked($event)"
      (addButtonClicked)="onAddButtonClicked()"
      (bulkActionClicked)="onBulkActionClicked($event)"
    />
  } @else {
    <app-add-employee
      [mode]="formMode"
      [employeeId]="selectedEmployeeId"
      (cancel)="closeAddForm()"
      (saved)="onEmployeeSaved()"
    />
  }
</section>
