.page-header-actions {
  align-items: center;
  display: flex;
  flex-shrink: 0;
  gap: 8px;
}

:host :ng-deep .page-header-actions-only:not(:has(.page-header-actions > *)) {
  display: none;
  margin: 0;
  padding: 0;
}
